<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="parameters"
		label="TRAVEL_CONFIG_CONFIGURATION"
		description="TRAVEL_CONFIG_COMPONENT_CONFIGURATION"
		>
		<field name="upload_maxsize" type="text" default="2" label="TRAVEL_PARAMS_UPLOAD_MAX_SIZE" size="30" description="TRAVEL_PARAMS_FILE_UPLOAD_MAX_SIZE_MB" />
		<field name="trash_dir" type="text" default="[COM_ADMIN]/images/trash" label="TRAVEL_PARAMS_TRASH_DIR" size="30" description="TRAVEL_PARAMS_TRASH_DIR_INFORMATION" />
		<field name="upload_dir_payouts_attachment" type="text" default="[COM_SITE]/files/payouts_attachment" label="TRAVEL_PARAMS_UPLOAD_DIR_PAYOUTS_ATTACHMENT" size="30" description="TRAVEL_PARAMS_UPLOAD_DIR_INFORMATION" />

	</fieldset>

	<fieldset
		name="permissions"
		label="TRAVEL_CONFIG_PERMISSIONS"
		description="TRAVEL_CONFIG_DEFAULT_PERMISSIONS_USED_FOR_ALL_CONTENT_IN_THIS_COMPONENT"
		>
		<field
			name="rules"
			type="rules"
			label="TRAVEL_CONFIG_COMPONENT_PERMISSIONS"
			filter="rules"
			validate="rules"
			component="com_travel"
			section="component">



		</field>
	</fieldset>


</config>
